DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dichvucong"
AUTH_SECRET="k8sJ3mP9xR2vL5nQ7wF0yT4uA6bD1eH"

# Set to the IP/hostname of the machine running the app (required for LAN access)
APP_HOST=192.168.95.128
AUTH_TRUST_HOST=true

# Internal Infrastructure (Post-Exploitation Target)
DB_INTERNAL_HOST=172.20.0.5
DB_USER=readonly_auditor
DB_PASS=Learning@2026!
